{% extends 'admin/baseadmin.html.twig' %}

{% block body %}
    <h1 style="text-align: center;">Prediction Results</h1>

    <div style="display: flex; justify-content: center;">
        <table style="border-collapse: collapse; width: 50%; text-align: center;">
            <thead>
            <tr>
                <th style="border: 1px solid black; padding: 8px;">Prediction Value</th>
                <th style="border: 1px solid black; padding: 8px;">Classification</th>
            </tr>
            </thead>
            <tbody>
            {% for result in results %}
                <tr>
                    <td style="border: 1px solid black; padding: 8px;">{{ result.value }}</td>
                    <td style="border: 1px solid black; padding: 8px; {% if result.classification == 'Low Cost' %}
                            background-color: green; color: white;{% elseif result.classification == 'Medium Cost' %}
                            background-color: yellow;{% elseif result.classification == 'High Cost' %}
                            background-color: red; color: white;
                    {% endif %}">
                        {{ result.classification }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
